{{- if .Values.isManagement }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Chart.Name }}-propagation-template
  namespace: {{ .Values.kcm.namespace }}
  annotations:
    projectsveltos.io/template: "true"
data:
  data.yaml: |
    {{` {{ copy "Data" }} `}}
{{- end }}