{{- if and .Values.isManagement .Values.gateway.resource }}
{{- $gatewayResource := .Values.gateway.resource }}
{{- $processedResource := deepCopy $gatewayResource }}

{{- /* Process hosts to replace {clusterName} */ -}}
{{- if $processedResource.spec.servers }}
{{- range $serverIdx, $server := $processedResource.spec.servers }}
{{- if $server.hosts }}
{{- $processedHosts := list }}
{{- range $host := $server.hosts }}
{{- $processedHosts = append $processedHosts ($host | replace "{clusterName}" "{{ .Cluster.metadata.name }}") }}
{{- end }}
{{- $_ := set $server "hosts" $processedHosts }}
{{- end }}
{{- end }}
{{- end }}

apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Chart.Name }}-gateway-template
  namespace: {{ .Values.kcm.namespace }}
  annotations:
    projectsveltos.io/template: "true"
data:
  gateway.yaml: |
{{ toYaml $processedResource | indent 4 }}
{{- end }}