{{- if .Values.isManagement }}
{{- $global := .Values.global | default dict }}
apiVersion: source.toolkit.fluxcd.io/v1
kind: HelmRepository
metadata:
  name: istio
  namespace: {{ .Values.kcm.namespace }}
  labels:
    k0rdent.mirantis.com/managed: "true"
spec:
  interval: 10m
  {{- with $global.helmChartsRepo }}
  url: {{ $global.helmChartsRepo }}
  {{- else }}
  url: https://istio-release.storage.googleapis.com/charts
  {{- end }}
  {{- with $global.helmRepoCreds | default (index .Values "k0rdent-istio").repo.spec }}
  {{- if .secretRef }}
  secretRef:
    {{- .secretRef | toYaml | nindent 4 }}
  {{- end }}
  {{- if .certSecretRef }}
  certSecretRef:
    {{- .certSecretRef | toYaml | nindent 4 }}
  {{- end }}
  {{- end }}
{{- end }}