{{- if .Values.isManagement }}
{{- $repoSpec := (index .Values "istio-repo").repo.spec }}
apiVersion: source.toolkit.fluxcd.io/v1
kind: HelmRepository
metadata:
  name: {{ (index .Values "istio-repo").repo.name }}
  namespace: {{ .Values.kcm.namespace }}
  labels:
    k0rdent.mirantis.com/managed: "true"
spec:
  {{- $repoSpec | toYaml | nindent 2 }}
{{- end }}