apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-template
  namespace: {{ .Values.kcm.namespace }}
  annotations:
    projectsveltos.io/template: "true"
data:
  data.yaml: |
    {{` {{ copy "Data" }} `}}
---
apiVersion: k0rdent.mirantis.com/v1beta1
kind: ServiceTemplate
metadata:
  name: {{ .Release.Name }}-propagation
  namespace: {{ .Values.kcm.namespace }}
  annotations:
    helm.sh/resource-policy: keep
spec:
  resources:
    localSourceRef:
      kind: ConfigMap
      name: {{ .Release.Name }}-template
      namespace: {{ .Values.kcm.namespace }}
    deploymentType: Remote
    path: ""