apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-namespaces-template
  namespace: {{ .Values.kcm.namespace }}
  annotations:
    projectsveltos.io/template: "true"
data:
  namespace.yaml: |
    ---
    kind: Namespace
    apiVersion: v1
    metadata:
      name: istio-system
      labels:
        topology.istio.io/network: {{ `{{ .Cluster.metadata.name }}` }}-network
    {{- range .Values.injectionNamespaces }}
    ---
    kind: Namespace
    apiVersion: v1
    metadata:
      name: {{ . }}
      labels:
        istio-injection: enabled
    {{- end }}
---
apiVersion: k0rdent.mirantis.com/v1beta1
kind: ServiceTemplate
metadata:
  name: {{ .Release.Name }}-namespaces
  namespace: {{ .Values.kcm.namespace }}
  annotations:
    helm.sh/resource-policy: keep
spec:
  resources:
    localSourceRef:
      kind: ConfigMap
      name: {{ .Chart.Name }}-namespaces-template
      namespace: {{ .Values.kcm.namespace }}
    deploymentType: Remote
    path: ""
