{{- if .Values.isManagement }}
  {{- $global := .Values.global | default dict }}
  {{- $customRegistry := "" }}
  {{- if and $global.registry (ne $global.registry "docker.io") }}
    {{- $customRegistry = $global.registry }}
  {{- end }}
apiVersion: k0rdent.mirantis.com/v1beta1
kind: MultiClusterService
metadata:
  name: {{ .Chart.Name }}-cert-manager
spec:
  clusterSelector:
    matchLabels:
      k0rdent.mirantis.com/istio-role: member
  serviceSpec:
    services:
      - name: cert-manager
        namespace: {{ .Release.Namespace }}
        template: {{ index .Values "cert-manager" "template" }}
        values: |
          cert-manager:
            crds:
              enabled: true
            {{- with .customRegistry }}
            image:
              repository: {{ . }}/jetstack/cert-manager-controller
            acmesolver:
              image:
                repository: {{ . }}/jetstack/cert-manager-acmesolver
            cainjector:
              image:
                repository: {{ . }}/jetstack/cert-manager-cainjector
            startupapicheck:
              image:
                repository: {{ . }}/jetstack/cert-manager-startupapicheck
            webhook:
              image:
                repository: {{ . }}/jetstack/cert-manager-webhook
            {{- end }}
---
{{- if lookup "k0rdent.mirantis.com/v1beta1" "ServiceTemplate" .Values.kcm.namespace "cert-manager-1-19-3" }}
{{- if lookup "k0rdent.mirantis.com/v1beta1" "ServiceTemplate" .Values.kcm.namespace "cert-manager-v1-16-4" }}
---
apiVersion: k0rdent.mirantis.com/v1beta1
kind: ServiceTemplateChain
metadata:
  name: cert-manager-1-19-3-from-v1-16-4
  namespace: {{ $.Values.kcm.namespace }}
  annotations:
    helm.sh/resource-policy: keep
    helm.sh/hook: post-install, post-upgrade
spec:
  supportedTemplates:
    - name: cert-manager-1-19-3
    - name: cert-manager-v1-16-4
      availableUpgrades:
        - name: cert-manager-1-19-3
          version: 1.19.3
{{- end }}
{{- end }}
{{- end }}
