{{- if .Values.isManagement }}
{{- $version := .Chart.Version | replace "." "-" }}
apiVersion: k0rdent.mirantis.com/v1beta1
kind: ServiceTemplate
metadata:
  name: {{ .Chart.Name }}-{{ $version }}
  namespace: {{ .Values.kcm.namespace }}
  annotations:
    helm.sh/resource-policy: keep
spec:
  helm:
    chartSpec:
      chart: {{ .Chart.Name }}
      version: {{ $.Chart.Version | quote }}
      interval: 10m0s
      sourceRef:
        kind: HelmRepository
        name: {{ index .Values "k0rdent-istio" "repo" "name" }}
{{- end }}